* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&family=Urbanist&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Poppins&family=Urbanist&display=swap");
  /* background: url(/Images/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}

header {
  /* width: 100%; */
  width: 75rem;
  /* height: 12vh; */
  margin-left: 22rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.2rem 1.5rem;
  align-items: center;
  /* margin-top: 2rem; */
  /* background-color: aqua; */
}

.list-content {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.list-content a {
  text-decoration: none;
  color: black;
  padding: 1.4rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2rem;
}

button {
  width: 7rem;
  background: #fff;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #0073b0;
  text-align: center;
  margin-left: 0.5rem;
}

.First-section-content1 {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 42% 35%;
  /* margin-top: 5rem; */
  padding-top: 8rem;
  padding-left: 28rem;
  padding-right: 2rem;
  /* margin: 0 auto; */
  /* height: 35vh; */
}

.b2b {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  width: 30rem;
  color: #223260;
}

.para {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 27rem;
}

.ex-watch-file {
  display: flex;
  margin-top: 3rem;
}

.flex1 {
  display: flex;
  width: 15rem;
  height: 7vh;
  background: #2b7de9;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.imgex {
  width: 2.5rem;
}

.text1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}

.flex2 {
  /* background-color: blueviolet; */
  display: flex;
  width: 12rem;
  height: 7vh;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-left: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.imgey {
  width: 2.7rem;
}

.text2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

.right-panel img {
  width: 27rem;
}

.second-content1 {
  background-color: #f2f7fd;
  margin-top: 4rem;
  height: 68vh;
  /* margin-left: 25rem; */
}

.global-para1 {
  /* border: 1px solid; */
  width: 25rem;
  margin-left: 47rem;
  text-align: center;
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #223260;
}

.pipileads-para1 {
  /* border: 1px solid; */
  width: 34rem;
  margin-left: 43rem;
  text-align: center;
  padding-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #666;
}

.chrome-para1 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 46rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
}

.gif-img {
  margin-left: 38rem;
  padding-top: 2rem;
}

.gif-img img {
  border-radius: 2rem;
}

.third-content1 {
  margin-top: 10rem;
  background-color: #fff;
}

.build-para1 {
  margin-left: 49rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #223260;
  padding-top: 2rem;
}

.pipileads-para2 {
  /* border: 1px solid; */
  width: 35rem;
  margin-left: 45rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  padding-top: 2rem;
  line-height: 2rem;
}


.flex-content1 {
  display: flex;
  margin-top: 3rem;
  margin-left: 8rem;
}

.list1 {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  padding-top: 1rem;
}

.email-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 2rem;
  text-align: center;
  color: #223260;
}

.find-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.ouremail-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list2 {
  /* border: 1px solid; */
  margin-left: 5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.email-para1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.ensure-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.upload-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  font-size: 0.9rem;
  color: #666;
  padding-top: 1rem;
}

.list3 {
  /* border: 1px solid; */
  margin-left: 5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.list3 .img3 img {
  margin-top: -1.8rem;
}

.team-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 1rem;
}

.seamlessly-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.credits-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.flex-content2 {
  display: flex;
  margin-top: 3rem;
  margin-left: 8rem;
}

.list4 {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  padding-top: 1rem;
}

.social-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 2rem;
  text-align: center;
  color: #223260;
}

.findverified-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  color: #666;
}

.youcan-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list5 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.prospect-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.identifier-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.imperative-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list6 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.domain-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.findany-para {
  width: 16rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.userour-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.fourth-content1 {
  margin-top: 8rem;
  background-color: #f2f7fd;
  height: 68vh;
}

.email-finder-para {
  /* border: 1px solid; */
  width: 15rem;
  margin-left: 50rem;
  text-align: center;
  padding-top: 3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #223260;
}

.find-verified-para {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 43rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #666;
  text-align: center;
  padding-top: 2rem;
}

.demo-img {
  margin-left: 38rem;
  padding-top: 2rem;
}

.demo-img img {
  width: 45rem;
  border-radius: 2rem;
  background: #fff;
  border: 2px solid #fff;
}

.navi-dot-box {
  margin-top: 8rem;
}

.fifth-content {
  border: 1px solid;
  margin-top: 15rem;
  width: 60rem;
  height: 20vh;
  margin-left: 32rem;
  border-radius: 0.5rem;
  /* background: url(/Images/bg-12.png); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-color: #1981b8;
}

.start-para {
  padding-top: 3rem;
  padding-left: 18rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  /* text-align: center; */
  color: #fff;
}

.button-tag{
    padding-left: 24rem;
    padding-top: 2rem;
}

.button-tag button{
    width: 15rem;
    border-radius: 0.2rem;
    padding: 0.8rem;
    cursor: pointer;
}


/* Footer CSS --- Starting Section   :    */

.container1{
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
  
}

.row1{
  display: flex;
  flex-wrap: wrap;
}

.ul-tag{
  list-style-type: none;
}

.ul-tag li a{
  /* background-color: #fff; */
  margin-left: -2rem;
}

.footer1{
  background-color: #000;
  padding: 30px 0;
  margin-top: 8rem;
}

.footer-col1{
  width: 25%;
  padding: 0 5rem;
  /* background-color: #fff; */
}

.footer-col1 h4{
  color: #ccc;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.rem;
}

.footer-col1 ul li{
  margin-bottom: 0.8rem;
}

.footer-col1 ul li a{
  text-decoration: none;
  color: #666;
}

.hr-line{
  width: 100%;
  max-width: 1015px;
  border: 1px solid #1e1d1d;
  margin: 0 auto;
}

.final-footer1{
  display: flex;
  /* background-color: red; */
  justify-content: space-evenly;
  max-width: 1170px;
  margin: auto;
  margin-top: 0.8rem;
}


.final-footer1 .social-link1 .final-ul-tag{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  /* background-color: #fff; */
}

.final-footer1 .final-logo1 img{
  margin-left: -6rem;
}

.final-ul-tag li a i{
  color: #666;
  width: 2rem;
}

.copyright1{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 0.8rem;
  color: #666;
}

.final-footer1 .social-link1 .final-ul-tag li{
  margin-left: 0.5rem;
}






























header nav{
  margin-left: 15rem;
}

.navbar-toggler-icon{
  /* background-color: aqua; */
  width: 5rem;
  height: 5rem;
  
}



@media only screen and (max-width: 770px) {

  header{
    /* background-color: yellow; */
    width: 92rem;
    height: 5rem;
    margin-left: 0;
  }

  header img{
    /* background-color: gray; */
    width: 10rem;
    margin-left: -17rem;
  }

  header .nav-bar{
    /* background-color: green; */
    width: 5rem;
    height: 2rem;
    margin-left: 35rem;
  }
}

@media only screen and (max-width: 426px) {
  header {
    /* background-color: red; */
    width: 92rem;
    height: 15rem;
  }

  header img{
    width: 30rem;
    /* height: 5rem; */
    /* margin-top: 15rem; */
    margin-left: -25rem;
  }

  header .nav-bar{
    margin-left: 0rem;
    width: 5rem;
    height: 5rem;
    /* background-color: brown; */
  }

  .nav-bar button{
    background-color: #0e75b7;
    width: 15rem;
    height: 8rem;
    font-size: 5rem;
    border-radius: 0.8rem;
  }

  #navbarNav ul{
    /* background-color: lightskyblue; */
    font-size: 3rem;
  }
  
  .First-section-content1{
    /* background-color: royalblue; */
    width: 92rem;
    margin-top: 10rem;
    margin-left: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 89rem; */
  }

  .First-section-content1 .b2b{
    /* background-color: yellowgreen; */
    width: 55rem;
    height: 5rem;
    margin-top: 2rem;
    text-align: center;
  }


  .First-section-content1 .para{
    /* background-color: lightseagreen; */
    width: 85rem;
    height: 15rem;
    margin-top: 10rem;
    font-size: 4.5rem;
    margin-left: 0;
    line-height: 5rem;
    text-align: center; 
  }

  .ex-watch-file{
    flex-direction: column;
    margin-top: 10rem;
  }

  .ex-watch-file .flex1{
    background-color: #2b7de9;
    width: 55rem;
    height: 13rem;
    margin-left: 20rem;
    border-radius: 1rem;
  }

  .ex-watch-file .flex1 img{
    /* background-color: fuchsia; */
    width: 8rem;
  }

  .ex-watch-file .text1{
    /* background-color: sienna; */
    width: 25rem;
    height: 6rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .ex-watch-file .flex2{
    background-color: #f2f7fd;
    width: 55rem;
    height: 13rem;
    margin-left: 20rem;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 1px solid #f2f7fd;
  }

  .ex-watch-file .flex2 img{
    /* background-color: fuchsia; */
    width: 8rem;
  }

  .ex-watch-file .text2{
    /* background-color: sienna; */
    width: 25rem;
    height: 6rem;
    font-size: 3rem;
    margin-top: 5rem;
  }


/* Right Panel Image Starting */
  .right-panel{
    /* background-color: lightgrey; */
    width: 65rem;
    margin-top: 8rem;
    margin-left: 5rem;
    align-items: center;
  }

  .right-panel img{
    width: 85rem;
  }

  .second-content1{
    background-color: #f2f7fd;
    width: 92rem;
    height: 65rem;
  }

  .second-content1 .global-para1{
    /* background-color: goldenrod; */
    width: 70rem;
    height: 15rem;
    font-size: 5rem;
    margin-left: 14rem;
    line-height: 7rem;
  }

  .second-content1 .pipileads-para1{
    /* background-color: lightsalmon; */
    margin-top: 2rem;
    width: 85rem;
    height: 13rem;
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-left: 5rem;
  }

  .second-content1 .chrome-para1{
    /* background-color: lime; */
    width: 75rem;
    font-size: 5rem;
    margin-left: 12rem;
  }

  .second-content1 .gif-img{
    /* background-color: lightyellow; */
    width: 88rem;
    margin-left: 2rem;
  }

  .second-content1 .gif-img img{
    width: 88rem;
  }

  .third-content1{
    /* background-color: lightcoral; */
    margin-top: 35rem;
    width: 92rem;
  }

  .third-content1 .build-para1{
    /* background-color: yellowgreen; */
    width: 70rem;
    height: 13rem;
    text-align: center;
    font-size: 5rem;
    line-height: 6rem;
    margin-left: 13rem;
  }

  .third-content1 .pipileads-para2{
    /* background-color: yellow; */
    margin-top: 2rem;
    width: 85rem;
    height: 13rem;
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-left: 5rem;
  }

  .flex-content1{
    /* background-color: cornflowerblue; */
    flex-direction: column;
    width: 92rem;
    height: 92rem;
    align-items: center;
    margin-left: 0;    
  }

  .list1{
    /* background-color: chocolate; */
    width: 70rem;
    height: 70rem;
  }

  .list1 img{
    width: 25rem;
    height: 25rem;
  }

  .list1 .email-para{
    /* background-color: yellow; */
    width: 25rem;
    height: 8rem;
    font-size: 3rem;
  }

  .list1 .find-para{
    /* background-color: red; */
    width: 65rem;
    height: 9rem;
    font-size: 3rem;
    line-height: 4rem;
  }

  .list1 .ouremail-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 78rem;
    height: 20rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }

  .list2{
    /* background-color: pink; */
    width: 70rem;
    height: 70rem;
  }

  .list2 img{
    width: 30rem;
    height: 30rem;
  }

  .list2 .email-para1{
    /* background-color: yellow; */
    width: 25rem;
    height: 8rem;
    font-size: 3rem;
  }

  .list2 .ensure-para{
    /* background-color: red; */
    width: 65rem;
    height: 9rem;
    font-size: 3rem;
    line-height: 4rem;
  }

  .list2 .upload-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 78rem;
    height: 20rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }

  .list3{
    /* background-color: pink; */
    width: 70rem;
    height: 70rem;
  }

  .list3 img{
    width: 30rem;
    height: 30rem;
  }

  .list3 .team-para{
    /* background-color: yellow; */
    width: 40rem;
    height: 8rem;
    font-size: 4rem;
    margin-left: 3.5rem;
  }

  .list3 .seamlessly-para{
    /* background-color: red; */
    width: 80rem;
    height: 9rem;
    font-size: 3.1rem;
    line-height: 4rem;
  }

  .list3 .credits-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 75rem;
    height: 30rem;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-left: 2rem;
  }

  

  .flex-content2{
    /* background-color: cornflowerblue; */
    width: 92rem;
    height: 92rem;
    margin-top: 120rem;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }

  .list4{
    /* background-color: pink; */
    width: 70rem;
    height: 70rem;
    margin-left: 10rem;
  }

  .list4 img{
    width: 30rem;
    height: 30rem;
  }

  .list4 .social-para{
    /* background-color: yellow; */
    width: 40rem;
    height: 8rem;
    font-size: 4rem;
    margin-left: 3.5rem;
  }

  .list4 .findverified-para{
    /* background-color: red; */
    width: 80rem;
    height: 9rem;
    font-size: 3.1rem;
    line-height: 4rem;
    margin-left: -2rem;
  }

  .list4 .youcan-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 75rem;
    height: 30rem;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-left: -2rem;
  }

  .list5{
    /* background-color: pink; */
    width: 70rem;
    height: 70rem;
    margin-left: 10rem;
  }

  .list5 img{
    width: 30rem;
    height: 30rem;
  }

  .list5 .prospect-para{
    /* background-color: yellow; */
    width: 40rem;
    height: 8rem;
    font-size: 4rem;
    margin-left: 3.5rem;
  }

  .list5 .identifier-para{
    /* background-color: red; */
    width: 80rem;
    height: 9rem;
    font-size: 3.1rem;
    line-height: 4rem;
  }

  .list5 .imperative-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 75rem;
    height: 30rem;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-left: -2rem;
  }

  .list6{
    /* background-color: pink; */
    width: 70rem;
    height: 70rem;
    margin-top: 5rem;
    margin-left: 10rem;
  }

  .list6 img{
    width: 30rem;
    height: 30rem;
  }

  .list6 .domain-para{
    /* background-color: yellow; */
    width: 40rem;
    height: 8rem;
    font-size: 4rem;
    margin-left: 3.5rem;
  }

  .list6 .findany-para{
    /* background-color: red; */
    width: 45rem;
    height: 9rem;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-left: 4rem;
  }

  .list6 .userour-para{
    /* background-color: cornsilk; */
    margin-top: 2rem;
    width: 75rem;
    height: 30rem;
    font-size: 2.5rem;
    line-height: 5rem;
    margin-left: -2rem;
  }


  .fourth-content1{
    margin-top: 250rem;
    background-color: #f2f7fd;
    width: 92rem;
    height: 30rem;
  }

  .fourth-content1 .email-finder-para{
    /* background-color: goldenrod; */
    width: 35rem;
    height: 8rem;
    font-size: 5rem;
    margin-left: 32rem;
  }

  .find-verified-para{
    /* background-color: violet; */
    width: 55rem;
    height: 10rem;
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 22rem;
  }

  .fourth-content1 .demo-img{
    /* background-color: rosybrown; */
    width: 87rem;
    margin-left: 0;
  }

  .fourth-content1 img{
    width: 88rem;
    height: 55rem;
    margin-left: 3rem;
  }


  .fifth-content{
    background-color: #1981b8;
    margin-top: 60rem;
    width: 90rem;
    height: 25rem;
    margin-left: 1rem;
    border-radius: 2rem;
  }

  .fifth-content .start-para{
    /* background-color: rebeccapurple; */
    margin-top: 2rem;
    width: 90rem;
    height: 6rem;
    font-size: 5rem;
    align-items: normal;
    margin-left: -8rem;
  }

  .fifth-content button{
    background-color: white;
    width: 40rem;
    height: 7rem;
    font-size: 3rem;
    color: #0073b0;
    margin-top: 4rem;
    border-radius: 1rem;
    margin-left: 2rem;
  }

  .footer1{
    /* background-color: sandybrown; */
    width: 90rem;
    height: 93rem;
  }

  .container1{
    width: 25rem;
    /* background-color: white; */
    margin-left: 0;
  }

  .row1 .footer-col1 .pro{
    font-size: 4rem;
    margin-left: 7rem;
  }

  .row1 .footer-col1 .sup{
    margin-left: 40rem;
    font-size: 4rem;
  }

  .footer-col1 #footer-tag1{
    /* background-color: yellow; */
    width: 25rem;
    height: 22rem;
    margin-left: 7rem;
    font-size: 3rem;
    line-height: 5rem;
  }

  .footer-col1 #ul-tag-1{
    /* background-color: greenyellow; */
    width: 30rem;
    height: 22rem;
    margin-left: 40rem;
    font-size: 3rem;
  }

  .row1 .footer-col1 .le{
    margin-left: 7rem;
    font-size: 4rem;
    margin-top: 5rem;
  }

  .row1 .footer-col1 .pip{
    margin-left: 40rem;
    font-size: 4rem;
    margin-top: 5rem;
  }

  .footer-col1 #ul-tag-2{
    /* background-color: floralwhite; */
    width: 30rem;
    height: 22rem;
    margin-left: 7rem;
    font-size: 3rem;
  }

  .footer-col1 #ul-tag-3{
    /* background-color: fuchsia; */
    width: 30rem;
    height: 22rem;
    margin-left: 40rem;
    font-size: 3rem;
  }

  .hr-line{
    width: 90rem;
    max-width: 90rem;
    margin-left: 0;
    border: 1px solid #777;
  }

  .final-footer1{
    flex-direction: column;
  }

  .final-footer1 .final-logo1 a img{
    width: 20rem;
    margin-left: 25rem;
  }

  .final-footer1 .social-link1 .final-ul-tag{
    /* background-color: salmon; */
    width: 50rem;
    height: 6rem;
    margin-left: 10rem;
    margin-top: 2rem;
  }

  .social-link1 .final-ul-tag li a img{
    width: 6rem;
  }

  .social-link1 .final-ul-tag li .linkedin-icon{
    width: 6rem;
  }

  .copyright1{
    /* background-color: seashell; */
    width: 65rem;
    height: 5rem;
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 4rem;
    color: #666;
    margin-top: 4rem;
  }
}