* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&family=Urbanist&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Poppins&family=Urbanist&display=swap");
  /* background: url(/Images/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}

header {
  /* width: 100%; */
  width: 75rem;
  /* height: 12vh; */
  margin-left: 22rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.2rem 1.5rem;
  align-items: center;
  /* margin-top: 2rem; */
  /* background-color: aqua; */
}

.list-content {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.list-content a {
  text-decoration: none;
  color: black;
  padding: 1.4rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2rem;
}

button {
  width: 7rem;
  background: #fff;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #0073b0;
  text-align: center;
  margin-left: 0.5rem;
}

.First-section-content1 {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 42% 35%;
  /* margin-top: 5rem; */
  padding-top: 8rem;
  padding-left: 28rem;
  padding-right: 2rem;
  /* margin: 0 auto; */
  /* height: 35vh; */
}

.b2b {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  width: 30rem;
  color: #223260;
}

.para {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 27rem;
}

.ex-watch-file {
  display: flex;
  margin-top: 3rem;
}

.flex1 {
  display: flex;
  width: 15rem;
  height: 7vh;
  background: #2b7de9;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.imgex {
  width: 2.5rem;
}

.text1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #fff;
}

.flex2 {
  /* background-color: blueviolet; */
  display: flex;
  width: 12rem;
  height: 7vh;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-left: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.imgey {
  width: 2.7rem;
}

.text2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000;
}

.right-panel img {
  width: 27rem;
}

.second-content1 {
  background-color: #f2f7fd;
  margin-top: 4rem;
  height: 68vh;
  /* margin-left: 25rem; */
}

.global-para1 {
  /* border: 1px solid; */
  width: 25rem;
  margin-left: 47rem;
  text-align: center;
  padding-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #223260;
}

.pipileads-para1 {
  /* border: 1px solid; */
  width: 34rem;
  margin-left: 43rem;
  text-align: center;
  padding-top: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #666;
}

.chrome-para1 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 46rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
}

.gif-img {
  margin-left: 38rem;
  padding-top: 2rem;
}

.gif-img img {
  border-radius: 2rem;
}

.third-content1 {
  margin-top: 10rem;
  background-color: #fff;
}

.build-para1 {
  margin-left: 49rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #223260;
  padding-top: 2rem;
}

.pipileads-para2 {
  /* border: 1px solid; */
  width: 35rem;
  margin-left: 45rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  padding-top: 2rem;
  line-height: 2rem;
}


.flex-content1 {
  display: flex;
  margin-top: 3rem;
  margin-left: 8rem;
}

.list1 {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  padding-top: 1rem;
}

.email-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 2rem;
  text-align: center;
  color: #223260;
}

.find-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.ouremail-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list2 {
  /* border: 1px solid; */
  margin-left: 5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.email-para1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.ensure-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.upload-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  font-size: 0.9rem;
  color: #666;
  padding-top: 1rem;
}

.list3 {
  /* border: 1px solid; */
  margin-left: 5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.list3 .img3 img {
  margin-top: -1.8rem;
}

.team-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 1rem;
}

.seamlessly-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.credits-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.flex-content2 {
  display: flex;
  margin-top: 3rem;
  margin-left: 8rem;
}

.list4 {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  padding-top: 1rem;
}

.social-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 2rem;
  text-align: center;
  color: #223260;
}

.findverified-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  color: #666;
}

.youcan-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list5 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.prospect-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.identifier-para {
  width: 25rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.imperative-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.list6 {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.domain-para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #223260;
  padding-top: 2rem;
}

.findany-para {
  width: 16rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  padding-top: 1rem;
}

.userour-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #666;
  padding-top: 1rem;
}

.fourth-content1 {
  margin-top: 8rem;
  background-color: #f2f7fd;
  height: 68vh;
}

.email-finder-para {
  /* border: 1px solid; */
  width: 15rem;
  margin-left: 50rem;
  text-align: center;
  padding-top: 3rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #223260;
}

.find-verified-para {
  /* border: 1px solid; */
  width: 30rem;
  margin-left: 43rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #666;
  text-align: center;
  padding-top: 2rem;
}

.demo-img {
  margin-left: 38rem;
  padding-top: 2rem;
}

.demo-img img {
  width: 45rem;
  border-radius: 2rem;
  background: #fff;
  border: 2px solid #fff;
}

.navi-dot-box {
  margin-top: 8rem;
}

.fifth-content {
  border: 1px solid;
  margin-top: 15rem;
  width: 60rem;
  height: 20vh;
  margin-left: 32rem;
  border-radius: 0.5rem;
  background: url(/Images/bg-12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1981b8;
}

.start-para {
  padding-top: 3rem;
  padding-left: 18rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  /* text-align: center; */
  color: #fff;
}

.button-tag{
    padding-left: 24rem;
    padding-top: 2rem;
}

.button-tag button{
    width: 15rem;
    border-radius: 0.2rem;
    padding: 0.8rem;
    cursor: pointer;
}


.final-part{
    width: 98vw;
    display: flex;
    height: 23rem;
    margin-top: 7rem;
}

.divwork{
    display: flex;
}

.divwork a{
    flex-direction: row;
}

/* Footer Tag Staeting Line */

.container-1{
  max-width: 55%;
  background-color: red;
  margin: auto;
}

.row-1{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
}

.footer-1{
  background-color: #000;
  padding: 2rem 0;
  margin-top: 5rem;
}

.footer-col-1{
  width: 25%;
  padding: 0 1rem;
}

.footer-col-1 h4{
  font-size: 1.2rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 3rem;
  font-family: "Inter", sans-serif;
  position: relative;
}

/* .footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #666;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
} */

.footer-1 ul li{
  margin-bottom: 1rem;
}

.footer-col-1 ul li a{
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #666;
  text-decoration: none;
  font-weight: 600;
  /* color: #bbb; */
  display: block;
}

.footer-line{
  max-width: 54%;
  border: 1px solid #1E1D1D;
  margin: auto;
}

.final-footer{
  max-width: 65rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.final-footer .footer-img a img{
  width: 6rem;
}

.final-footer .footer-icon{
  padding: 0 12rem;
}

.final-footer .footer-icon a i{
  padding: 1.2rem 0.5rem;
  text-decoration: none;
  color: #333;
  /* background-color: #333; */
}

.final-footer .copyright-footer{
  padding: 1rem 0;
  color: white;
  font-size: 1rem;
}


header nav{
  margin-left: 15rem;
}

.navbar-toggler-icon{
  /* background-color: aqua; */
  width: 5rem;
  height: 5rem;
  
}



@media only screen and (max-width: 770px) {

  header{
    /* background-color: yellow; */
    width: 92rem;
    height: 5rem;
    margin-left: 0;
  }

  header img{
    /* background-color: gray; */
    width: 10rem;
    margin-left: -17rem;
  }

  header .nav-bar{
    /* background-color: green; */
    width: 5rem;
    height: 2rem;
    margin-left: 35rem;
  }
}

@media only screen and (max-width: 426px) {
  header {
    /* background-color: red; */
    width: 92rem;
    height: 15rem;
  }

  header img{
    width: 30rem;
    /* height: 5rem; */
    /* margin-top: 15rem; */
    margin-left: -25rem;
  }

  header .nav-bar{
    margin-left: 0rem;
    width: 5rem;
    height: 5rem;
    /* background-color: brown; */
  }

  .nav-bar button{
    background-color: #0e75b7;
    width: 15rem;
    height: 8rem;
    font-size: 5rem;
    border-radius: 0.8rem;
  }

  #navbarNav ul{
    /* background-color: lightskyblue; */
    font-size: 3rem;
  }
  
  .First-section-content1{
    /* background-color: royalblue; */
    width: 92rem;
    margin-top: 50rem;
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .First-section-content1 .b2b{
    background-color: yellowgreen;
    width: 82rem;
    height: 8rem;
    font-size: 2rem;
  }


  .First-section-content1 .para{
    background-color: lightseagreen;
    width: 75rem;
    height: 20rem;
    margin-top: 10rem;
    font-size: 4rem;
    margin-left: 8rem;
    line-height: 5rem;
    align-items: center;
  }

  .ex-watch-file{
    flex-direction: column;
    margin-top: 10rem;
  }

  .flex1{}


/* Right Panel Image Starting */
  .right-panel{
    /* background-color: lightgrey; */
    width: 65rem;
    margin-top: 8rem;
    margin-left: 5rem;
    align-items: center;
  }

  .right-panel img{
    width: 85rem;
  }

  .second-content1{
    background-color: #f2f7fd;
    width: 92rem;
    height: 65rem;
  }

  .second-content1 .global-para1{
    /* background-color: goldenrod; */
    width: 70rem;
    height: 15rem;
    font-size: 5rem;
    margin-left: 14rem;
    line-height: 7rem;
  }

  .second-content1 .pipileads-para1{
    /* background-color: lightsalmon; */
    margin-top: 2rem;
    width: 85rem;
    height: 13rem;
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-left: 3rem;
  }

  .second-content1 .chrome-para1{
    /* background-color: lime; */
    width: 75rem;
    font-size: 5rem;
    margin-left: 12rem;
  }

  .second-content1 .gif-img{
    /* background-color: lightyellow; */
    width: 88rem;
    margin-left: 2rem;
  }

  .second-content1 .gif-img img{
    width: 88rem;
  }

  .third-content1{
    /* background-color: lightcoral; */
    margin-top: 35rem;
    width: 92rem;
  }

  .third-content1 .build-para1{
    /* background-color: yellowgreen; */
    width: 70rem;
    height: 12rem;
    text-align: center;
    font-size: 5rem;
    line-height: 6rem;
    margin-left: 10rem;
  }

  .third-content1 .pipileads-para2{
    /* background-color: yellow; */
    margin-top: 2rem;
    width: 85rem;
    height: 13rem;
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-left: 3rem;
  }

  .flex-content1{
    background-color: cornflowerblue;
    flex-direction: column;
    width: 92rem;
    height: 75rem;
    align-items: center;
    margin-left: 0;    
  }

  .list1{
    background-color: chocolate;
    width: 70rem;
    height: 55rem;
  }

  .list1 img{
    width: 25rem;
    height: 25rem;
  }

  .list1 .email-para{
    background-color: yellow;
    width: 25rem;
    height: 8rem;
    font-size: 3rem;
  }

  .list1 .find-para{
    background-color: red;
    width: 65rem;
    height: 9rem;
    font-size: 3rem;
    line-height: 4rem;
  }

  .list1 .ouremail-para{
    background-color: cornsilk;
    width: 55rem;
    height: 20rem;
    font-size: 2rem;
  }
}